.portfolio{
  padding-top: 100px;
}
i{
  font-size: 50px;
}
.f1{
  background-color: #5394f7;
}
.f2{
  background-color: #6edff6;
}
.f3{
  background-color: #79dfc1;
}
.f4{
  background-color: #c29ffa;
}
.f5{
  background-color: #ffda6a;
}
