.site-title{
  color: #004A8D !important;
  font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.cap{
  width: 100%;
  height: 3.2vh;
  background-color: #004A8D;
}
.war-text{
  font-size: 17px;
  color: #fff;
  line-height: 17px;
}

@media only screen and (min-width: 220px) {
  .war-text{
    font-size: 12px !important;
  }
  
}