*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.my-container{
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
body{
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: rgb(0,0,0);
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.slider{
  padding-top: 50px;
}
.slider-wrapper{
  width: 96%;
  height: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.slider-item{
  min-width: 300px;
  position: relative;
  left: 0;
  transition: .5s;
  text-align: center;
  padding-top: 80px;
}
.leftBtn , .rightBtn {
  font-size: 22px;
  width: 50px;
  border: none;
  background-color: white;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

::-webkit-scrollbar{
  height: 0;
}