.slider-wrapper{
  width: 340px;
  height: 480px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
}
.slider-item{
  min-width: 320px !important;
  height: 320px;
  position: relative;
  left: 0;
  transition: .5s;
}
.card-handle{
  padding: 10px 20px !important;
  width: 320px;
}
.descru{
  height: 150px;
  width: 100%;
  overflow-y: auto;
}